*{
    margin: 0;
    padding: 0;
}
header{
    background-color: whitesmoke;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.logo{
    height: 10vh;
    width: 10vw;
}
.logo>img{
    height: 10vh;
    width: 10vw;
}
.nav{
    height: 10vh;
    width: 65vw;
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}
.content-container{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.info{
    height: 65vh;
    width: 25vw;
    margin: 125px 125px;
    text-align: center;
}
.info>p{
    font-size: larger;
    font-weight: bolder;
    font-family: sans-serif;
    font-style: inherit;
    scale: 1.3;
    padding: 5px;
}
.profile{
    height: 65vh;
    width: 40vw;
}
.profile>img{
    height: 65vh;
    width: 30vw;
    background-size: cover;
    border-radius: 50%; 
}
.skills-section{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}
.skill-content{
    height: 95%;
    margin: 4%;
}
.skills{
    height: 60vh;
    width: 80vw;
    margin: 3% 11%;
}
.skills > img{
    height: 60vh;
    width: 65vw;
}
.text{
    text-align: center;
}
.project-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.project-container{
    height: 65vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
}
.project>img{
    height: 30vh;
    width: 30vw;
    padding: 1%;
    margin: 1px 6px;
}
.resume-section{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume-section > p{
    margin-bottom: 15px;
    font-weight: 600;
    font-style: inherit;
    scale: 1;
}
.resume-section > a{
    height: 10vh;
    width: 18vw;
    border: 2px solid black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
    background-color: aquamarine;
}
.last{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}
.contact-section{
    height: 85vh;
    width: 100vw;
    margin: 10px 50px;
}
 li{
    scale: 1;
    font-size: medium;
    font-weight: 700;
    margin: 5px 5px;
}

footer{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright{
    height: 6vh;
    width: 15vw;
}
.copyright>img{
    margin-left: 5px;
    height: 5vh;
    width: 5vw;
}
.links{
    height: 5vh;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
}
.links>a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}